<%- include ../public/_meta.html %>
<section class="Hui-admin-article-wrapper">
    <article class="clearfix pd-20">
        <form action="" method="post" class="form form-horizontal" id="form-admin-add">
            <input type="hidden" name="_csrf" value="<%=csrf%>" />
            <div class="row clearfix">
                <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>管理员：</label>
                <div class="form-controls col-xs-10 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="adminName" name="adminName">
                </div>
            </div>
            <div class="row clearfix">
                <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>密码：</label>
                <div class="form-controls col-xs-10 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password"
                           name="password">
                </div>
            </div>
            <div class="row clearfix">
                <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>手机：</label>
                <div class="form-controls col-xs-10 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">
                </div>
            </div>
            <div class="row clearfix">
                <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>邮箱：</label>
                <div class="form-controls col-xs-10 col-sm-9">
                    <input type="text" class="input-text" placeholder="@" name="email" id="email">
                </div>
            </div>
            <div class="row clearfix">
                <label class="form-label col-xs-2 col-sm-3">角色：</label>
                <div class="form-controls col-xs-10 col-sm-9"> <span class="select-box" style="width:400px;">
						<select class="select" name="adminRole" size="1">
						<%for(var i=0;i<roleList.length ;i++){%>
							<option value="<%=roleList[i]._id%>"><%=roleList[i].title%></option>
						<%}%>
						</select>
                </span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-8 col-sm-9 col-xs-offset-5 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </article>
</section>

</div>

<%- include ../public/_footer.html %>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/public/admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/public/admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/public/admin/module/manager.js"></script>

<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
