<%- include ../public/sidebar.html %>

<div class="main-layout-container">
	<%- include ../public/header.html %>
	<!--主体内容-->
	<div class="main-layout-body">
		<!--tab 切换-->
		<div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
			<ul class="layui-tab-title">
				<li class="layui-this welcome">管理员列表</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show" style="background: #fff;">
					<!--1-->
					<div class="wrap-container clearfix">
						<div class="column-content-detail">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<div class="layui-inline tool-btn">
										<button class="layui-btn layui-btn-small layui-btn-normal addBtn" data-url="/admin/manager"><i class="layui-icon">&#xe654;</i></button>
										<button class="layui-btn layui-btn-small layui-btn-danger delBtn" data-url="article-add.html"><i class="layui-icon">&#xe640;</i></button>
										<button class="layui-btn layui-btn-small layui-btn-warm listOrderBtn hidden-xs" data-url="article-add.html"><i
											 class="iconfont">&#xe656;</i></button>
									</div>
									<div class="layui-inline">
										<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
									</div>
									<div class="layui-inline">
										<select name="states" lay-filter="status">
											<option value="">请选择一个状态</option>
											<option value="010">正常</option>
											<option value="021">停止</option>
											<option value="0571">删除</option>
										</select>
									</div>
									<button style="margin-top: -5px;" class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
								</div>
							</form>
							<div class="layui-form" id="table-list">
								<table class="layui-table" lay-even lay-skin="nob">
									<colgroup>
										<col width="50">
										<col class="hidden-xs" width="50">
										<col class="hidden-xs" width="100">
										<col>
										<col class="hidden-xs" width="150">
										<col class="hidden-xs" width="150">
										<col width="80">
										<col width="150">
									</colgroup>
									<thead>
										<tr>
											<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
											<th class="hidden-xs">ID</th>
											<th class="hidden-xs">排序</th>
											<th>名称</th>
											<th class="hidden-xs">创建时间</th>
											<th class="hidden-xs">修改时间</th>
											<th>状态</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>
											<td class="hidden-xs">1</td>
											<td class="hidden-xs"><input type="text" name="title" autocomplete="off" class="layui-input" value="0"
												 data-id="1"></td>
											<td>玩具</td>
											<td class="hidden-xs">1989-10-14</td>
											<td class="hidden-xs">1989-10-14</td>
											<td><button class="layui-btn layui-btn-mini layui-btn-normal">正常</button></td>
											<td>
												<div class="layui-inline">
													<button class="layui-btn layui-btn-small layui-btn-normal go-btn" data-id="1" data-url="article-detail.html"><i
														 class="layui-icon">&#xe642;</i></button>
													<button class="layui-btn layui-btn-small layui-btn-danger del-btn" data-id="1" data-url="article-detail.html"><i
														 class="layui-icon">&#xe640;</i></button>
												</div>
											</td>
										</tr>
										<tr>
											<td><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>
											<td class="hidden-xs">1</td>
											<td class="hidden-xs"><input type="text" name="title" autocomplete="off" class="layui-input" value="0"
												 data-id="1"></td>
											<td>玩具</td>
											<td class="hidden-xs">1989-10-14</td>
											<td class="hidden-xs">1989-10-14</td>
											<td><button class="layui-btn layui-btn-mini layui-btn-normal">正常</button></td>
											<td>
												<div class="layui-inline">
													<button class="layui-btn layui-btn-small layui-btn-normal go-btn" data-id="1" data-url="article-detail.html"><i
														 class="layui-icon">&#xe642;</i></button>
													<button class="layui-btn layui-btn-small layui-btn-danger del-btn" data-id="1" data-url="article-detail.html"><i
														 class="layui-icon">&#xe640;</i></button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="page-wrap">
									<ul class="pagination">
										<li class="disabled"><span>«</span></li>
										<li class="active"><span>1</span></li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">»</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!--1end-->
				</div>
			</div>
		</div>
	</div>
</div>


<%- include ../public/footer.html %>