<%- include ../public/_meta.html %>
<%- include ../public/_menu.html %>

<section class="Hui-admin-article-wrapper">
	<%- include ../public/_header.html %>
	<div class="Hui-admin-article">
		<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
			首页
			<span class="c-gray en">/</span>
			管理员管理
			<span class="c-gray en">/</span>
			管理员列表
		</nav>

		<article class="Hui-admin-content clearfix">
	

			<div class="panel mt-20">
				<div class="panel-body">
					<div class="clearfix">
						<span class="f-l">
							<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>-->
								<!--批量删除</a>-->
							<a href="javascript:;" onclick="admin_add('添加管理员','/admin/manager/add')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
								添加管理员</a>
						</span>
						<span class="f-r">共有数据：<strong><%=adminList.length%></strong> 条</span>
					</div>
					<div class="mt-20 clearfix">
						<table class="table table-border table-bordered table-bg table-hover table-sort">
							<thead>
								<tr>
									<th scope="col" colspan="9">管理员列表</th>
								</tr>
								<tr class="text-c">

									<th width="150">管理员名称</th>
									<th width="90">手机</th>
									<th width="150">邮箱</th>
									<th width="150">管理员角色</th>
									<th width="130">创建时间</th>
									<th width="100">操作</th>
								</tr>
							</thead>
							<tbody>
							<%for(var i=0;i<adminList.length ;i++){%>
								<tr class="text-c">
									<td><%=adminList[i].username%></td>
									<td><%=adminList[i].mobile%></td>
									<td><%=adminList[i].email%></td>
									<td><%=adminList[i].role[0].title%></td>
									<td><%=adminList[i].add_time%></td>
									<td class="td-manage">
									 <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','/admin/manager/edit?id=<%=adminList[i]._id%>','1','800','500')" class="btn btn-primary radius ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>  编辑</a>
									 <a title="删除" href="javascript:;" onclick="admin_del(this,'<%=adminList[i]._id%>','Admin')" class="btn btn-danger radius ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a></td>
								</tr>
							<%}%>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>

</div>

<%- include ../public/_footer.html %>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/admin/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/public/admin/static/business/js/main.js"></script>
<script type="text/javascript">
	$(function () {
		runDatetimePicker();
	});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>